<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" ><ion-content class="ion-padding">
    <ion-button color="dark" expand="block"  routerLink="/home">Menú</ion-button>
    <ion-button color="dark" expand="block"  routerLink="/perfil">Perfil</ion-button>
    <ion-button color="dark" expand="block" routerLink="/pagina404">Clases</ion-button>
    <ion-button color="dark" expand="block" routerLink="/login">Cerrar Sesion</ion-button>
  </ion-content></ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> <ion-card>
      <img alt="Silhouette of mountains" src="assets/images/codigo-qr.png" />
      <ion-card-header>
        <ion-card-title>Escanea el codigo QR</ion-card-title>
        <ion-card-subtitle>para dejar la asistencia en clases</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-button class="card" color="dark" id="open-loading" (click)="scannerQr()">Cámara</ion-button>
        <ion-button class="card" color="dark" id="open-loading" (click)="openEmail()">Correo</ion-button>
        <ion-button class="card" color="dark" id="open-loading" (click)="registrarAsistencia()">
          Registrar Asistencia
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Listado de Asistencias</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let asistencia of asistencias">
            <ion-label>
              <h2>{{ asistencia.usuario.name }}</h2>
              <p>Fecha: {{ asistencia.fechaHora | date:'medium' }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>