<ion-menu side="end" contentId="principal">
  <ion-header no-border>
    <ion-toolbar color="dark">
      <ion-img></ion-img>
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
    
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button color="dark" expand="block"  routerLink="/home">Menú</ion-button>
    <ion-button color="dark" expand="block">Clases</ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header color="light" no-border>
    <ion-toolbar color="dark">
      <ion-title>Perfil</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  <ion-toolbar>
   <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="editarPerfil">
      <ion-icon name="accessibility-sharp"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="horario">
      <ion-icon name="alarm-outline"></ion-icon>
    </ion-segment-button>
   </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item *ngFor="let item of items; let index">
        <ion-avatar slot="start">
          <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
        </ion-avatar>
        <ion-label>{{ item }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll>
      <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  <!---->
  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-content>
