<ion-header [translucent]="true" no-border >
  <ion-toolbar color="dark" >
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="light">
    <img  class="duoc"alt="login" src="assets\images\logoduocuc.png"/>
    <ion-card-header>
      <ion-card-title class="card" color="light">Inicio de Sesión</ion-card-title>    
    </ion-card-header>
  
    <ion-card-content color="medium">
      <ion-item class="card" color="light">
        <ion-icon slot="start" name="accessibility-sharp"></ion-icon>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="user.usuario" required></ion-input>
      </ion-item>
      <ion-item class="card" color="light">
        <ion-icon slot="start" name="key"></ion-icon>
        <ion-label position="floating">Contraseña</ion-label>
        <span *ngIf=""></span>
        <ion-input type="password" [(ngModel)]="user.clave" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button class="card" expand="block" (click)="ingresar()" color="dark" >Iniciar Sesión</ion-button>
            <ion-button class="contra" expand="block" routerLink="/olvidastecontra" color="dark">¿Olvidaste tu contraseña?</ion-button>

        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
