<ion-content >
  <ion-card class="ion-text-center" color="dark">
    <h4>Editar perfil</h4>    
  </ion-card>
  <ion-card>
    <ion-item class="ion-padding-horizontal">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="dato.nombre"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="dato.apellido"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-label position="stacked">Fecha de nacimiento</ion-label>
      <ion-input type="date" [(ngModel)]="dato.fechaDeNacimiento"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-label position="stacked" class="ion-padding-botom">Jornada</ion-label>
      <ion-select placeholder="Seleccione Jornada" [(ngModel)]="dato.jornada">
        <ion-select-option *ngFor="let jor of jornada" [value]="jor.id">{{jor.jornada}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-button shape="block" (click)="limpiar()">Limpiar</ion-button>
        </ion-col>
        <ion-col col-6>
          <ion-button shape="block" (click)="mostrar()">Guardado</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>